//--------------------------------------------------------------
// Site Content
//--------------------------------------------------------------
.site-content {

} // .site-content


//--------------------------------------------------------------
// Posts and Pages
//--------------------------------------------------------------

// Entry Title
.entry-title {
	font-size: rem(36);
} // .entry-title

// Sticy and Comments Link
.sticky,
.comments-link {
	display: block;
} // .sticky, .comments-link

// hentry
.hentry {
	margin: 0 0 rem(24) 0;
} // .hentry

// byline and update post date
.byline,
.updated:not(.published) {
	display: none;
} // .byline, .updated:not(.published)

// byline for single and group
.single .byline,
.group-blog .byline {
	display: inline;
} // .single .byline, .group-blog .byline

// Page content, entry content and entry summary
.page-content,
.entry-content,
.entry-summary {
	margin: rem(24) 0 0;
} // .page-content, .entry-content, .entry-summary

// Page links
.page-links {
	clear: both;
	margin: 0 0 rem(24) 0;
} // .page-links

// Edit link
.edit-link {
	margin: 0;
} // .edit-link

// Asides
.blog .format-aside .entry-title,
.archive .format-aside .entry-title {
	display: none;
} // .blog .format-aside .entry-title, .archive .format-aside .entry-title

// -------------------------------------------------------------
// Blockquote Styling
//--------------------------------------------------------------
blockquote {
	font-size: rem(24);
	font-style: italic;
	line-height: 1.5;
	padding-top: 6rem;
	position: relative;
	text-align: center;

	&::before {
		@include position(absolute, 2.5rem null null 0);

		border-top: 1px solid $color-black;
		content: "";
		height: rem(1);
		width: 40%;
	} // &::before

	&::after {
		@include position(absolute, 2.5rem 0 null null);

		border-top: 1px solid $color-black;
		content: "";
		height: rem(1);
		width: 40%;
	} // &::after
} // blockquote
