//--------------------------------------------------------------
// Footer
//--------------------------------------------------------------
.site-info {
	margin-bottom: rem(12);
	text-align: center;
} // .site-info

.footer {
	margin: 0 auto;
	width: 80%;
	display: flex;
	justify-content: space-between;

	// Footer widget area as a whole.
	&.widget-area {
		margin-bottom: rem(50);
		max-height: rem(223);
		overflow: hidden;
	} // &.widget-area
} // .footer
