//--------------------------------------------------------------
// Icons
//--------------------------------------------------------------

// Social icons <ul>
.social-icons {
	@include clearfix;
	@include list-reset;

	// Each icon <li>
	.social-icon {

		// Loop through all social icons
		@each $social-color, $color in $social-colors {

			// Set styles on those social icons!
			.icon-#{$social-color} {
				@include size(rem(30) rem(30));

				fill: $color;

				&:hover {
					fill: lighten($color, 20%);
				} // &:hover
			} // .icon-#{$social-color}
		} // end each loop

		// No margin for the last <li> item
		&:last-child {
			margin-right: 0;
		} // &:last-child
	} // .social-icon
} // .social-icons



//--------------------------------------------------------------
// Social network icons gathered from customizer (includes email icon).
//--------------------------------------------------------------
.social-networks {
	@include list-reset;

	line-height: 1;

	// Each social network.
	.social-network {
		display: inline-block;

		// Make links take up full space.
		a {
			display: block;
			fill: $color-link;

			&:hover,
			&:active {
				fill: $color-link-hover;
			}
		} // a
	} // .social-network

	// Icon itself.
	.icon {
		@include size(rem(24));

		// fill: $color-link;

		&:hover {

		} // &:hover
	} // .icon
} // .social-networks
