//--------------------------------------------------------------
// Icons
//--------------------------------------------------------------

// Social icons <ul>
.social-icons {
	@include clearfix;
	@include list-reset;

	// Each icon <li>
	.social-icon {

		// Loop through all social icons
		@each $social-color, $color in $social-colors {

			// Set styles on those social icons!
			.icon-#{$social-color} {
				@include size(rem(30) rem(30));

				fill: $color;

				&:hover {
					fill: lighten($color, 20%);
				} // &:hover
			} // .icon-#{$social-color}
		} // end each loop

		// No margin for the last <li> item
		&:last-child {
			margin-right: 0;
		} // &:last-child
	} // .social-icon
} // .social-icons



//--------------------------------------------------------------
// Social network icons gathered from customizer (includes email icon).
//--------------------------------------------------------------
.social-networks {
	@include list-reset;

	line-height: 1;
	margin-bottom: rem(15);
	text-align: center;

	// Each social network.
	.social-network {
		display: inline-block;
		margin-right: rem(15);

		&:last-of-type {
			margin-right: 0;
		} // &:last-of-type

		// Make links take up full space.
		a {
			display: block;
			fill: $color-emperor;

			&:hover,
			&:active {
				fill: $color-teal;
			}
		} // a
	} // .social-network

	// Icon itself.
	.icon {
		@include size(rem(24));
	} // .icon
} // .social-networks
