//--------------------------------------------------------------
// Base Layout
//--------------------------------------------------------------

// Structure.
.wrap {
	@include outer-container;

	padding: 0 2 * $gutter;

	@include media($desktop) {
		padding: 0;
	}
} // .wrap

.site-footer {

	@include media($tablet-landscape) {
		padding: 0 2 * $gutter;
	}
} // .site-footer

.site-content {

	// Wrap inside site-content less wide.
	> .wrap {
		// max-width: rem(900);
	} // .wrap
} // .site-content

.primary {
	@include fill-parent;

	@include media($tablet-landscape) {
		@include span-columns(12);
	}
} // .primary

.secondary {
	@include fill-parent;

	@include media($tablet-landscape) {
		@include span-columns(4);
	}
} // .secondary
