//--------------------------------------------------------------
// Base Layout
//--------------------------------------------------------------

// Structure.
.wrap {
	@include outer-container(1400px);

	padding: 0 2 * $gutter;
} // .wrap

.site-main {
	margin: rem(30) 0;
	overflow: hidden;
	position: relative;
	z-index: 9;
} // .site-main

.site-footer {

	@include media($tablet-landscape) {
		padding: 0 2 * $gutter;
	}
} // .site-footer

.primary {
	@include fill-parent;

	@include media($tablet-landscape) {
		@include span-columns(12);
	}
} // .primary

.secondary {
	@include fill-parent;

	@include media($tablet-landscape) {
		@include span-columns(4);
	}
} // .secondary
