//--------------------------------------------------------------
// Homepage Template
//--------------------------------------------------------------
.site-main {
	overflow: hidden;
} // .site-main

// Main page.
.home {

	// Highlighted Photo.
	.photo-highlighted {
		background-position: 50%;
		background-repeat: no-repeat;
		background-size: cover;
		height: 100%;
		max-width: 100%;
		opacity: 0.6;
		// width: 800px;
	} // .photo-highlighted

	// Post title.
	.entry-title {
		margin: 0;

		a {
			color: $color-white;
			font-family: "Droid Sans", sans-serif;
			font-size: rem(35);
			font-weight: 400;
			letter-spacing: rem(1.2);
			line-height: rem(35);
		} // a
	} // .entry-title

	// Wrapper around all content within article.
	.thumbnail-header {
		@include position(absolute, 30% null null 5%);

		display: inline-block;
		font-size: rem(35);
		line-height: rem(35);
		margin: 0 rem(8) 0 0;
		text-transform: uppercase;
	} // .thumbnail-header

	// Meta data.
	.meta-data {
		-webkit-transform: skew(-20deg);
		color: $color-white;
		font-size: rem(14);
		font-weight: 700;
		letter-spacing: rem(1.2);
		margin-bottom: rem(10);
		text-transform: uppercase;
		transform: skew(-20deg);
	} // .meta-data

	// Category.
	.entry-cat {
		background: $color-whitesmoke;
		color: $color-emperor;
		margin-right: rem(35);
		padding: rem(6);

		a {
			-webkit-transform: skew(20deg);
			color: $color-emperor;
			display: inline-block;
			line-height: rem(30);
			margin-left: rem(8);
			position: relative;
			transform: skew(20deg);
		} // a

		&:hover {
			-webkit-transition: padding 0.3s;
			padding-left: rem(14);
			padding-right: rem(14);
			transition: padding 0.3s;
		} // &:hover
	}  // .entry-cat

	.entry-cat a,
	.entry-date p {
		-webkit-transform: skew(20deg);
		display: inline-block;
		font-family: "Droid Sans", sans-serif;
		transform: skew(20deg);
	} // span.entry-cat a, span.entry-date p
} // .home

// Recent 3 posts.
.recent-posts {
	overflow: hidden;

	// Each post.
	article {
		@include position(relative, null null null null);
		@include size(100% rem(400));

		background-color: $color-cod-gray;
		border: rem(1) solid $color-white;
		float: left;

		@include media($tablet-landscape) {
			@include size(33.3% rem(400));
		}
	} // article
} // .recent-posts

// Clock symbol.
.fa-clock-o {
	font-size: rem(16);
	margin-right: rem(8);
	transform: skew(20deg);
} // .fa-clock-o
