//--------------------------------------------------------------
// Single Quote Template
//--------------------------------------------------------------
.post-template-single-quote {

	// Quote featured image.
	.featured-container {
		font-size: 0; // ghost-space killah
		text-align: center;

		@include media($tablet-landscape) {
			margin: rem(32) 0;
		}
	} // .featured-container

	blockquote {
		margin: 0;
	} // blockquote

	// Surrounds quote, author + title on right.
	.quote-container {
		position: relative;
		text-align: center;

		// Decorate quote mark.
		&:before {
			@include position(absolute, -10px null null 48%);

			content: "\201C" ;
			font-family: serif;
			font-size: rem(99);
		} // &:before

		// Quote source link.
		.source-title {

			&:hover {
				color: $color-link-hover;
				text-decoration: underline;
			} // &:hover
		} // .source-title
	} // .quote-container
} // post-template-single-quote
