//--------------------------------------------------------------
// Single Quote Template
//--------------------------------------------------------------
.post-template-single-quote {

	.entry-content {
		display: flex;
		flex-direction: column;

		@include media($tablet-portrait) {
			flex-direction: row;
		}
	} // .entry-content

	// Quote featured image.
	.featured-container {
		font-size: 0; // ghost-space killah
	} // .featured-container

	// Surrounds quote, author + title on right.
	.quote-container {
		text-align: center;

		@include media($tablet-portrait) {
			padding: 0 0 0 rem(24);
		}

		// Quote source link.
		.source-title {

			&:hover {
				color: $color-link-hover;
				text-decoration: underline;
			} // &:hover
		} // .source-title
	} // .quote-container
} // post-template-single-quote
