//--------------------------------------------------------------
// Typography
//--------------------------------------------------------------

body,
button,
input,
select,
textarea {
	color: $color-text-main;
	font-family: $font-sans;
	line-height: $line-height-body;
} // body, button, input, select, textarea

//--------------------------------------------------------------
// Headers
//--------------------------------------------------------------

// Loop through headings for common styles.
@function headings($from: 1, $to: 6) {
	@if $from == $to {
		@return "h#{$from}, .h#{$from}";
	} @else {
		@return "h#{$from}, .h#{$from}," + headings($from + 1, $to);
	}
}

// Output headings.
#{headings(1, 6)} {
	font-family: $font-serif;
} // #{headings(1, 6)}

h1,
.h1 {
	margin-top: 0;
} // h1, .h1

h2,
.h2 {

} // h2, .h2

h3,
.h3 {

} // h3, .h3

h4,
.h4 {

}  // h4, .h4

h5,
.h5 {

}  // h5, .h5

h6,
.h6 {

} // h6, .h6

//--------------------------------------------------------------
// Copy
//--------------------------------------------------------------

p {
	font-family: $font-sans;
	margin: 0 0 rem(24) 0;
} // p

b,
strong {
	font-weight: 700;
} // b, strong

dfn,
cite,
em,
i {
	font-style: italic;
} //dfn, cite, em, i

blockquote,
q {
	margin: 0 rem(24);
	quotes: "" "";

	&:before,
	&:after {
		content: "";
	}  // &:before, &:after

} // blockquote, q

// -------------------------------------------------------------
// Regular Content Blockquote Styling
//--------------------------------------------------------------
blockquote {
	font-size: rem(20);
	font-style: italic;
	line-height: 1.5;
	padding-top: rem(60);
	position: relative;
	width: 90%;

	&::before {
		@include position(absolute, 40px null null 0);

		border-top: 6px solid rgba($color-teal, 0.3);
		content: "";
		width: 95%;
	} // &::before
} // blockquote

address {
	margin: 0 0 rem(24) 0;
} // address

pre {
	font-family: $font-pre;
	font-size: rem(15);
	line-height: $line-height-pre;
	margin: 0 0 rem(24);
	max-width: 100%;
	overflow: auto;
	padding: rem(24);
} // pre

code,
kbd,
tt,
var {
	font-family: $font-code;
	font-size: rem(15);
} // code, kbd, tt, var

abbr,
acronym {
	border-bottom: 1px dotted $color-border-abbr;
	cursor: help;
} // abbr, acronym

mark,
ins {
	text-decoration: none;
} // mark, ins

mark {
	background-color: $color-teal;
	color: $color-white;
	padding: 0 rem(3);
}

sup,
sub {
	font-size: 75%;
	height: 0;
	line-height: 0;
	position: relative;
	vertical-align: baseline;
} // sup, sub

sup {
	bottom: 1ex;
} // sup

sub {
	top: 0.5ex;
} // sub

small {
	font-size: 75%;
} // small

big {
	font-size: 125%;
} // big

// Word Wrapping
.entry-title,
.entry-content,
.comments-title,
.comment-content,
.widget-title,
.widget {
	@include word-break;
} // .entry-title, .entry-content, .comments-title, .comment-content, .widget-title, .widget
